$def with (season,short_comp)

$# This snippet of python code will retrieve the list of attribute types
$# This list will then be used to dynamically create the select dropdown for
$# attribute rank display
$code:
    comp = short_comp + season
    event_code = utils.map_comp_to_event_code(comp)
    season_list = utils.get_season_list()
    comp_list = utils.get_comp_and_eventcode_list(season)
    event_info = utils.get_event_info_str(event_code)
    myteam = utils.get_myteam()

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1, minimum-scale=0.5, maximum-scale=2.0" />

$var title: Attribute Ranking



<style type="text/css">
    #rankchart
    { 
        #width: 100%; 
        height: 800px;
        margin: auto auto auto auto;
    }
    #flotTip
    {
        padding: 3px 5px;
        background-color: #000;
        z-index: 100;
        color: #fff;
        box-shadow: 0 0 10px #555;
        opacity: .7;
        filter: alpha(opacity=70);
        border: 2px solid #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

</style>

<link rel="stylesheet" type="text/css" href="/static/media/js/dhtmlxTree/skins/web/dhtmlxtree.css"/>
<script src="/static/media/js/dhtmlxTree/codebase/dhtmlxtree.js"></script>

<link rel="stylesheet" type="text/css" href="/static/media/css/bootstrap-toggle.css"/>
<link rel="stylesheet" type="text/css" href="/static/media/css/bootstrap-toggle-min.css"/>
<script src="/static/media/js/bootstrap-toggle.js"></script>

<script type="text/javascript">

var team_availability = {};

$$(document).ready(function () {

    filter_init();
    build_filter_dropdown();

    displayTeamButtons();

	$$('#resetTeamAvailability').attr('onClick', 'resetTeamAvailability()');
    $$('#plotData').attr('onClick', 'plotData()');
    $$('#clearFilter').attr('onClick', 'clearFilter()');
    $$('#saveFilter').attr('onClick', 'saveFilter()');
    $$('#loadFilter').attr('onClick', 'loadFilter()');
    $$('#deleteFilter').attr('onClick', 'deleteFilter()');

    $$('#filterlist').on('click', '.dropdown-menu li a', function () {
        setFilter( $$(this).text() );
    });

    loadTeamAvailability();

});

function resetTeamAvailability() {
    $$.each(team_availability, function(team, value) {
        team_id_ref_string = '#team_' + team;
        $$(function() { $$(team_id_ref_string).bootstrapToggle('on'); })
    });
}

function loadTeamAvailability() {

    team_availability_str = localStorage.getItem('team_availability');
    team_availability = JSON.parse( team_availability_str );
    if ( team_availability == null ) {
        team_availability = {};
    }
}

function displayTeamButtons() {
      var team_list;
      var num_teams;
      var num_columns;
      var num_rows;

      //var jqxhr_events = $$.getJSON( "/api/teams/$comp", function(json_data) {
      //    team_list = json_data.teams;
      var jqxhr_events = $$.getJSON( "/api/eventranklist/$season$event_code", function(json_data) {
          team_list = json_data.rankings;
          num_teams = team_list.length;

          console.log( "Number of teams: " + num_teams );

          num_columns = 8;
          num_rows = Math.ceil(num_teams / num_columns);

          console.log( "Number of columns: " + num_columns + " Number of rows: " + num_rows );

          var team_button_string = "";
          var team_id_string = "";
          for ( row=0; row<num_rows; row++ ) {
              for ( col=0; col<num_teams && col<=num_columns; col++ ) {
                  index = row + (col * num_rows);
                  if ( (index+1) <= num_teams ) {
                      var initial_state = 'checked';

                      if ( team_availability[ team_list[index].team_number ] == undefined ) {
                          team_availability[ team_list[index].team_number ] = 'Available';
                      } else {
                          if ( team_availability[ team_list[index].team_number ] != 'Available' ) {
                              initial_state = '';
                          }
                      }
                      team_id_string = 'team_' + team_list[index].team_number;
                      team_button_string += '<input ' + initial_state + ' id="' + team_id_string + '" data-toggle="toggle" data-on="' + team_list[index].team_number + '" data-off="' + team_list[index].team_number + '" data-size="small" data-width="60" type="checkbox">    ';

                  }
              }
              team_button_string += '<br>';
          }

          $$("#team_buttons").html( team_button_string );

          var team_id_ref_string;
          for ( i=0; i<num_teams; i++ ) {
              team_id_ref_string = '#team_' + team_list[i].team_number;
              $$(function() { $$(team_id_ref_string).bootstrapToggle(); })

              $$(team_id_ref_string).prop('team', team_list[i].team_number);
              $$(team_id_ref_string).change(function() { 
                    if ( $$(this).prop('checked') ) {
                        team_availability[ $$(this).prop('team') ] = 'Available';
                    } else {
                        team_availability[ $$(this).prop('team') ] = 'Picked';
                    }

                    filteredPlot( '' );

                    localStorage.setItem('team_availability', JSON.stringify( team_availability ));
              } )
          }

          // display the initial plot
          filteredPlot('');

      } );   

}

function filteredPlot( filter ) {
    var display = "horizontal";
    var data = [];
    var teams = [];
    var uri = "/rankings/$comp";

    if ( filter.length > 0 )
    {
        uri += "?filter=" + filter;
    }

    var jqxhr = $$.getJSON( uri, function(json_data) {
        var numTeams = json_data.rankings.length;
        for (var i=0, j=0;i<numTeams;i++)
        {
            var team = json_data.rankings[i].team;

            if ( team_availability[team] == 'Available' ) { 

                data[j] = [];
                if ( display=='horizontal' ) {
                    data[j][0] = json_data.rankings[i].score;
                    data[j][1] = j;
                } else {
                    data[j][0] = j;
                    data[j][1] = json_data.rankings[i].score;
                }

                teams[j] = json_data.rankings[i].team.toString();

                j++;
            }

        }

        $$("#rankchart").bind("plotclick", function( event, pos, item ) {
            if (item) {
                window.location.assign( "/teamdata/" + teams[item.datapoint[1]] );
            }
        });

        function generatePlot( data ) {
            $$.plot($$("#rankchart"), [ data ], {
	            series: {
                    bars: { 
                        show: true, 
		                barWidth: 0.6,
		                align: "center",
		                horizontal: true
                    }
                },
                yaxis: {
                    tickFormatter: function(v,axis) {
		                if ( (v >= 0) && (v < teams.length) ) {
		                    return teams[v];
		                } else {
		                    return '';
		                }
                    },
                    tickSize: 1,
                    tickLength: 0,
		            axisLabel: 'Team',
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 10,
                    axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
                    axisLabelPadding: 5
                },
                xaxis: {
                    axisLabel: 'Score',
                },
                grid: {
                    hoverable: true,
                    clickable: true
                },
	            tooltip: true,
	            tooltipOpts: {
	                content: function(label, xval, yval, flotItem) {
		                var tipString;
		                if ( display == 'horizontal' ) {
		                    tipString = "Team: " + json_data.rankings[yval].team.toString() + 
		                                ", Score: " + xval.toString();
		                } else {
		                    tipString = "Team: " + json_data.rankings[xval].team.toString() + 
		                                ", Score: " + yval.toString();
                        }
		                console.log( tipString );
		                return( tipString );
	                },
		            shifts: {
		                x:20,
		                y:0
		            },
                    defaultTheme: false
	            },
                legend: {
                    labelBoxBorderColor: "none"
                }
            });
        }

        generatePlot(data);

        window.onresize = function(event) {
            generatePlot(data);
        }
        
    })
}

function filter_init(){
    
    tree=new dhtmlXTreeObject("attr_tree","100%","100%",0);	
    tree.setImagePath("/static/media/js/dhtmlxTree/codebase/imgs/dhxtree_skyblue/");
    tree.enableCheckBoxes(1);
    tree.enableThreeStateCheckboxes(true);
    tree.openAllItems(1);

    currFilter = localStorage.getItem('currFilter');
    if ( currFilter == null || currFilter == '' ) {
	    tree.loadJSON("/api/attrlist", function(){ plotByFilterData(); } );
        console.log( "No Current Filter" );
    } else {
        tree.loadJSON("/api/attrlist/" + currFilter, function(){ plotByFilterData(); } );
        filter_name_label = document.getElementById('filterName');
        filter_name_label.value = currFilter;
        console.log( "Current Filter: " + currFilter );
    }

}

function build_filter_dropdown() {

    // load the set of saved filters into this page
    var jqxhr = $$.getJSON( '/api/attrfilter/', function(json_data) {
        saved_filters = json_data.filters;

        for ( i=0; i<saved_filters.length; i++ ) {
            filter_name = saved_filters[i].name;
            $$('#filterlist ul').append('<li><a href="#compselect" id="setFilter' + filter_name + '">' + filter_name + '</a></li>');
        }
    } );

}	


function getFilterString() {
    filter = '';
    var checked_items = tree.getAllChecked().split(",");
    console.log( "Checked Items : " + checked_items );

    var baseCheckboxState = tree.isItemChecked(1);

    if ( baseCheckboxState == 0 ) {
        document.getElementById('NoAttrAlert').innerHTML = '<div class="alert alert-danger" role="alert">No Attributes Selected!</div>';
        return filter;
    } else if ( baseCheckboxState == 1 ) {
        console.log( "Displaying All Attributes" );
    } else {
        for(var i=0; i<checked_items.length; i++) {
            var checked_item = checked_items[i];
            var add_item = true;
            // skip this item if the item begins with the skip token
            if ( checked_item.lastIndexOf("Skip_", 0) == 0 ) 
                add_item = false;

            // look to see if this item is a specific leaf value
            if ( checked_item.indexOf("=") != -1 ) {
                item_basename = checked_item.split("=")[0];
                // now see if the base item is already in the filter, if so, then skip
                // this item since all items at this level will be checked
                filter_items = filter.split("+");
                for ( var j=0;j<filter_items.length;j++ ) {
                    if ( filter_items[j] == item_basename ) {
                        add_item = false;
                    }
                }
            }

            if ( add_item == true ) {
                if ( filter.length > 0 )
                    filter += '+';
                filter += checked_item;
            }
        }
    }

    document.getElementById('NoAttrAlert').innerHTML = '';
    console.log( "Filter String : " + filter );

    return filter;
}

function plotByFilterData(){

    filter = getFilterString();
    filteredPlot(filter);
}			

function plotData() {

    filter_name_label = document.getElementById('filterName');
    filter_name_label.value = '';
    plotByFilterData();

}

function setFilter(name) {
    console.log( 'Filter Name: ' + name );
    filter_name_label = document.getElementById('filterName');
    filter_name_label.value = name;
    loadFilter();
}

function saveFilter() {

    filter_name = document.getElementById('filterName').value;

    if (filter_name == null || filter_name == '' ) {
        document.getElementById('NoAttrAlert').innerHTML = '<div class="alert alert-danger" role="alert">No Filter Name Entered!</div>';
        return;
    }
    localStorage.setItem('currFilter', filter_name);
    filter = getFilterString();
    $$.post( "/api/attrfilter/" + filter_name, { "filter" : filter }, function(data,status){ plotByFilterData(); location.reload() });
}

function clearFilter() {
    localStorage.setItem('currFilter', '');
    filter_name_label = document.getElementById('filterName');
    filter_name_label.value = '';
    tree.deleteChildItems(0);
    tree.deleteItem(0, true);
	tree.loadJSON("/api/attrlist/", function(){ plotByFilterData(); } );
}

function loadFilter() {

    filter_name = document.getElementById('filterName').value;
    if (filter_name == null || filter_name == '' ) {
        document.getElementById('NoAttrAlert').innerHTML = '<div class="alert alert-danger" role="alert">No Filter Name Entered!</div>';
        return;
    }
    localStorage.setItem('currFilter', filter_name);

    tree.destructor();
	tree=new dhtmlXTreeObject("attr_tree","100%","100%",0);	
	tree.setImagePath("/static/media/js/dhtmlxTree/codebase/imgs/dhxtree_skyblue/");
	tree.enableCheckBoxes(1);
	tree.enableThreeStateCheckboxes(true);
	tree.openAllItems(1);
	tree.loadJSON("/api/attrlist/" + filter_name, function(){ plotByFilterData(); } );

}

function deleteFilter() {
    filter_name_label = document.getElementById('filterName');
    filter_name = filter_name_label.value;
    if (filter_name == null || filter_name == '' ) {
        document.getElementById('NoAttrAlert').innerHTML = '<div class="alert alert-danger" role="alert">No Filter Name Entered!</div>';
        return;
    }
    filter_name_label.value = '';
    $$.ajax({
        url: '/api/attrfilter/' + filter_name,
        type: 'DELETE',
        success: function(result) { localStorage.setItem('currFilter', ''); location.reload(); }
    });
}


</script>


  <div class="article">
  
    <div id="title">
		<div class="col-sm-11" align="center">							
            <h1>Alliance Selection</h1>
            <br>
        </div>
    </div>

	<div class="row">
	<div id="compselect" class="col-sm-11" align="left">							

    <!-- provide a dropdown to select the season to display on the home page -->
    <div class="btn-group">
        <a class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" href="#">
            $season
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu tba-dropdown-menu-limited">
          $for season_entry in season_list:
            <li><a href="/allianceselect/$season_entry">$season_entry</a></li>
        </ul>
    </div>

    <!-- provide a dropdown to select the competition to display on the home page -->
    <div class="btn-group">
        <a class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" href="#">
            $short_comp
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu tba-dropdown-menu-limited">
          $for comp_entry in comp_list:
            <li><a href="/allianceselect/$season/$comp_entry[0]">$comp_entry[0]</a></li>
        </ul>
    </div>

    <br>

    </div>
    </div>
    
    <div id="teams">
		<div class="col-sm-11" align="left">							
            <br>
		    <button type="button" class="btn btn-primary" id="resetTeamAvailability" align="right">Reset Teams</button>         
            <br>
	        <div class="row">
            <div id="team_buttons" style="padding-left:40px;padding-top:10px"></div>
            </div>

            <br>
        </div>
    </div>

	<div class="col-sm-11" align="left">							
            <br>
		    <div class="col-sm-3">							
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Filter name..." id="filterName">

                    <div id="filterlist" class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu pull-right" role="menu"> 
                        </ul>
                    </div>
                </div>
                <div class="btn-group btn-block">
                    <button class="btn btn-default col-lg-3" type="button" id="plotData">Plot</button>
                    <button class="btn btn-default col-lg-3" type="button" id="saveFilter">Save</button>
                    <button class="btn btn-default col-lg-3" type="button" id="deleteFilter">Delete</button>
                    <button class="btn btn-default col-lg-3" type="button" id="clearFilter">Clear </button>
                </div>
                <br>
		        <div class="tree well" id="attr_tree" style="height:300px; padding: 8px 10px;">
		            <div id="NoAssignmentAlert"></div>
		        </div>
		    </div>
       
	        <div class="col-sm-8">							
	            <div id="NoAttrAlert"></div>
                <div id="rankchart"></div>
	        </div>
    </div>
    </div>

    </div>

  </div>  

