$def with (comp)

$# This snippet of python code will retrieve the list of attribute types
$# This list will then be used to dynamically create the select dropdown for
$# attribute rank display
$code:
    event_code = utils.map_comp_to_event_code(comp)
    short_comp = utils.split_comp_str(comp)[0]
    season = utils.map_event_code_to_season(event_code)
    comp_list = utils.get_comp_and_eventcode_list(season)
    event_info = utils.get_event_info_str(event_code)
    myteam = utils.get_myteam()
    attrlist = utils.get_attr_list()

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1, minimum-scale=0.5, maximum-scale=2.0" />

$var title: Attribute Ranking



<style type="text/css">
    #placeholder
    { 
        #width: 100%; 
        height: 800px;
        margin: auto auto auto auto;
    }
    #flotTip
    {
        padding: 3px 5px;
        background-color: #000;
        z-index: 100;
        color: #fff;
        box-shadow: 0 0 10px #555;
        opacity: .7;
        filter: alpha(opacity=70);
        border: 2px solid #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
</style>

<link rel="stylesheet" type="text/css" href="/static/media/js/dhtmlxTree/skins/web/dhtmlxtree.css"/>
<script src="/static/media/js/dhtmlxTree/codebase/dhtmlxtree.js"></script>

<script type="text/javascript">
$$(document).ready(function () {

    filter_init();

});

function filteredPlot( filter ) {
    var display = "horizontal";
    var data = [];
    var teams = [];
    var uri = "/rankings/$comp";

    if ( filter.length > 0 )
    {
        uri += "?filter=" + filter;
    }

    var jqxhr = $$.getJSON( uri, function(json_data) {
        console.log( "success" );
        var numTeams = json_data.rankings.length;
        for (var i=0;i<numTeams;i++)
        {
            data[i] = [];
            if ( display=='horizontal' ) {
                data[i][0] = json_data.rankings[i].score;
                data[i][1] = i;
            } else {
                data[i][0] = i;
                data[i][1] = json_data.rankings[i].score;
            }
            teams[i] = json_data.rankings[i].team.toString();
        }

        $$("#placeholder").bind("plotclick", function( event, pos, item ) {
            if (item) {
                window.location.assign( "/teamdata/" + teams[item.datapoint[1]] );
            }
        });

        function generatePlot( data ) {
            $$.plot($$("#placeholder"), [ data ], {
	            series: {
                    bars: { 
                        show: true, 
		                barWidth: 0.6,
		                align: "center",
		                horizontal: true
                    }
                },
                yaxis: {
                    tickFormatter: function(v,axis) {
		                if ( (v >= 0) && (v < teams.length) ) {
		                    return teams[v];
		                } else {
		                    return '';
		                }
                    },
                    tickSize: 1,
                    tickLength: 0,
		            axisLabel: 'Team',
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 10,
                    axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
                    axisLabelPadding: 5
                },
                xaxis: {
                    axisLabel: 'Score',
                },
                grid: {
                    hoverable: true,
                    clickable: true
                },
	            tooltip: true,
	            tooltipOpts: {
	                content: function(label, xval, yval, flotItem) {
		                var tipString;
		                if ( display == 'horizontal' ) {
		                    tipString = "Team: " + json_data.rankings[yval].team.toString() + 
		                                ", Score: " + xval.toString();
		                } else {
		                    tipString = "Team: " + json_data.rankings[xval].team.toString() + 
		                                ", Score: " + yval.toString();
                        }
		                console.log( tipString );
		                return( tipString );
	                },
		            shifts: {
		                x:20,
		                y:0
		            },
                    defaultTheme: false
	            },
                legend: {
                    labelBoxBorderColor: "none"
                }
            });
        }

        generatePlot(data);

        window.onresize = function(event) {
            generatePlot(data);
        }
        
    })
}

function filter_init(){

	$$('#submitFilterData').attr('onClick', 'plotByFilterData()');
	$$('#clearFilter').attr('onClick', 'clearFilter()');
	$$('#saveFilter').attr('onClick', 'saveFilter()');
	$$('#loadFilter').attr('onClick', 'loadFilter()');
	$$('#deleteFilter').attr('onClick', 'deleteFilter()');
    
	tree=new dhtmlXTreeObject("attr_tree","100%","100%",0);	
	tree.setImagePath("/static/media/js/dhtmlxTree/codebase/imgs/dhxtree_skyblue/");
	tree.enableCheckBoxes(1);
	tree.enableThreeStateCheckboxes(true);
	tree.openAllItems(1);

    currFilter = localStorage.getItem('currFilter');
    if ( currFilter == null || currFilter == '' ) {
	    tree.loadJSON("/api/attrlist", function(){ plotByFilterData(); } );
    } else {
	    tree.loadJSON("/api/attrlist/" + currFilter, function(){ plotByFilterData(); } );
    }
}	


function getFilterString() {
    filter = '';
    var checked_items = tree.getAllChecked().split(",");
    console.log( "Checked Items : " + checked_items );

    var baseCheckboxState = tree.isItemChecked(1);

    if ( baseCheckboxState == 0 ) {
        document.getElementById('NoAttrAlert').innerHTML = '<div class="alert alert-danger" role="alert">No Attributes Selected!</div>';
        return;
    } else if ( baseCheckboxState == 1 ) {
        console.log( "Displaying All Attributes" );
    } else {
        for(var i=0; i<checked_items.length; i++) {
            if ( checked_items[i].lastIndexOf("Skip_", 0) != 0 ) {
                if ( filter.length > 0 )
                    filter += '+';
                filter += checked_items[i];
            }
        }
    }

    document.getElementById('NoAttrAlert').innerHTML = '';
    console.log( "Filter String : " + filter );

    return filter;
}

function plotByFilterData(){

    filter = getFilterString();
    filteredPlot(filter);
}			

function saveFilter() {

    filter_name = document.getElementById('filterName').value;
    localStorage.setItem('currFilter', filter_name);
    filter = getFilterString();
    $$.post( "/api/attrfilter/" + filter_name, { "filter" : filter }, function(data,status){ plotByFilterData() });
}

function clearFilter() {
    localStorage.setItem('currFilter', '');
    tree.deleteChildItems(0);
    tree.deleteItem(0, true);
	tree.loadJSON("/api/attrlist/", function(){ plotByFilterData(); } );
}

function loadFilter() {

    filter_name = document.getElementById('filterName').value;
    localStorage.setItem('currFilter', filter_name);

    //tree.deleteChildItems(0);
    //tree.deleteItem(0, true);
    tree.destructor();
    
	tree=new dhtmlXTreeObject("attr_tree","100%","100%",0);	
	tree.setImagePath("/static/media/js/dhtmlxTree/codebase/imgs/dhxtree_skyblue/");
	tree.enableCheckBoxes(1);
	tree.enableThreeStateCheckboxes(true);
	tree.openAllItems(1);

	tree.loadJSON("/api/attrlist/" + filter_name, function(){ plotByFilterData(); } );

}

function deleteFilter() {
    filter_name = document.getElementById('filterName').value;
    $$.ajax({
        url: '/api/attrfilter/' + filter_name,
        type: 'DELETE',
        success: function(result) { clearFilter(); }
    });
}


</script>


  <div class="article">
  
    <div id="title">
		<div class="col-sm-11" align="center">							
        <h1>Filtered Attribute Ranking</h1>
        </div>
    </div>

	<div class="row">
	<div class="col-sm-11" align="left">							

    <!-- provide a dropdown to select the season to display on the home page -->
    <div class="btn-group">
        <a class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" href="#">
            $season
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu tba-dropdown-menu-limited">
            <li><a href="/event/$event_code">$season</a></li>
        </ul>
    </div>

    <!-- provide a dropdown to select the competition to display on the home page -->
    <div class="btn-group">
        <a class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" href="#">
            $short_comp
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu tba-dropdown-menu-limited">
          $for comp_entry in comp_list:
            <li><a href="/attrrank/$comp_entry[0]$season">$comp_entry[0]</a></li>
        </ul>
    </div>

    </div>
    </div>
    

	<div class="row">

        <br>
		<div class="col-sm-3">							

            <!--
            <div align="center">
		    <button type="button" class="btn btn-primary" id="submitFilterData">Generate Chart</button>         
            </div>
            -->

            <div class="input-group">
                <input type="text" class="form-control" placeholder="Filter name..." id="filterName">

                <div class="input-group-btn">
                  <button class="btn btn-default" type="button" id="submitFilterData">Plot</button>
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Filter <span class="caret"></span></button>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#" id="loadFilter">Load</a></li>
                    <li><a href="#" id="saveFilter">Save</a></li>
                    <li><a href="#" id="deleteFilter">Delete</a></li>
                    <li class="divider"></li>
                    <li><a href="#" id="clearFilter">Clear</a></li>
                  </ul>
                </div><!-- /btn-group -->

                <!--
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="saveFilter">Save</button>
                    <button class="btn btn-default" type="button" id="loadFilter">Load</button>
                </span> -->

            </div><!-- /input-group -->
            
            <!-- <button type="button" class="btn btn-primary" id="clearFilter">Clear Filter</button> --> 

            <br>

			<div class="tree well" id="attr_tree" style="height:500px; padding: 8px 10px;">
				<div id="NoAssignmentAlert"></div>
			</div><!-- well -->

		</div><!-- col-3 -->

		<div class="col-sm-8">							
	        <div id="NoAttrAlert"></div>
            <div id="placeholder"></div>

		</div><!-- col-8 -->
	</div><!-- row -->




  </div>  

