$def with (form)
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1, minimum-scale=0.5, maximum-scale=2.0" />

<style type="text/css">
    .pure-control-group label
    {
        text-align:right;
        display:inline-block;
        vertical-align:middle;
        width:15em;
        margin:0 1em 0 0
    }
</style>

<form name="main" method="post" class="pure-form pure-form-aligned"> 
    $:form.render()

    $if form.valid: <p class="error">Configuration Updated!</p>
    $if not form.valid: <p class="error">Error In Configuration!</p>
    <div class="pure-controls">
    <button type="submit" class="pure-button pure-button-active">Submit</button> 
    </div>
</form>

