$def with (event_code)

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1, minimum-scale=0.5, maximum-scale=2.0" />

$var title: FIRST Event Page

$code:
    comp = utils.map_event_code_to_comp(event_code)
    short_comp = utils.split_comp_str(comp)[0]
    season = utils.map_event_code_to_season(event_code)
    comp_list = utils.get_comp_and_eventcode_list(season)
    event_info = utils.get_event_info_str(event_code)

<style type="text/css">
    #placeholder_scouting_rank
    { 
        width: 100%; 
        height: 800px;
        margin: auto auto auto auto;
    }

    .legend table, .legend > div { 
            height: 100px !important; 
            opacity: 1 !important; 
            left: 740px; 
            top: 10px; 
            width: 116px !important; }
    .legend table { border: 1px solid #555; padding: 5px; }

    #flotTip
    {
            padding: 3px 5px;
            background-color: #000;
            z-index: 100;
            color: #fff;
            box-shadow: 0 0 10px #555;
            opacity: .7;
            filter: alpha(opacity=70);
            border: 2px solid #fff;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
    }
</style>

<!--[if lte IE 8]><script type="text/javascript" language="javascript" src="/static/media/js/excanvas.min.js"></script><![endif]-->
<script type="text/javascript" language="javascript" src="/static/media/js/jquery.flot.pie.min.js"></script>
<script src="/static/media/js/jquery.flot.tooltip.js"></script>
<script src="/static/media/js/jquery.dataTables.rowReordering.js"></script>
<script src="/static/media/js/jquery.dataTables.rowGrouping.js"></script>

<script type="text/javascript">

$$(document).ready(function () {

    var display = "horizontal";
    var data = [];
    var teams = [];

    var jqxhr = $$.getJSON( "/rankings/$comp", function(json_data) {
        console.log( "success" );
        var numTeams = json_data.rankings.length;
        for (var i=0;i<numTeams;i++)
        {
            data[i] = [];
            if ( display=='horizontal' ) {
                data[i][0] = json_data.rankings[i].score;
                data[i][1] = i;
            } else {
                data[i][0] = i;
                data[i][1] = json_data.rankings[i].score;
            }
            teams[i] = json_data.rankings[i].team.toString();
        }

        $$("#placeholder_scouting_rank").bind("plotclick", function( event, pos, item ) {
            if (item) {
                window.location.assign( "/teamdata/$comp/" + teams[item.datapoint[1]] );
            }
        });

        function generatePlot(data) {
            $$.plot($$("#placeholder_scouting_rank"), [ data ], {
	            series: {
                    bars: { 
                        show: true, 
		                barWidth: 0.6,
		                align: "center",
		                horizontal: true
                    }
                },
                yaxis: {
                    tickFormatter: function(v,axis) {
		                if ( (v >= 0) && (v < teams.length) ) {
		                    return teams[v];
		                } else {
		                    return '';
		                }
                    },
                    tickSize: 1,
                    tickLength: 0,
		            axisLabel: 'Team',
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 10,
                    axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
                    axisLabelPadding: 5
                },
                xaxis: {
                    axisLabel: 'Score',
                },
                grid: {
                    hoverable: true,
                    clickable: true
                },
	            tooltip: true,
	            tooltipOpts: {
	                content: function(label, xval, yval, flotItem) {
		                var tipString;
		                if ( display == 'horizontal' ) {
		                    tipString = "Team: " + json_data.rankings[yval].team.toString() + 
		                        ", Score: " + xval.toString();
		                } else {
		                    tipString = "Team: " + json_data.rankings[xval].team.toString() + 
		                        ", Score: " + yval.toString();
                        }
		                console.log( tipString );
		                return( tipString );
	                },
		            shifts: {
		                x:20,
		                y:0
		            },
                    defaultTheme: false
	            },
                legend: {
                    labelBoxBorderColor: "none"
                }
            });
        }

        generatePlot(data);

        window.onresize = function(event) {
            console.log("resizing");
            generatePlot(data);
        }
    })

      var jqxhr_standings = $$.getJSON( "/api/teams/$comp", function(json_data) {
          console.log( "success" );

          console.log( json_data );

          function drawTable( json_data ) {
            $$('#event_teams').dataTable( {
                "bAutoWidth": true, // Disable the auto width calculation
                "aLengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]], 
                "iDisplayLength": 100,
                "aaData": json_data.teams,
                "aoColumns": [
                    { "mData": "number", "mRender": function(data,type,row) { return '<a href="/teamdata/$comp/'+row.team_number+'">'+row.team_number+'</a>'; } },
                    { "mData": "name", "mRender": function(data,type,row) { return '<a href="/teamdata/$comp/'+row.team_number+'">'+row.nickname+'</a>'; } }
                ]
            } );
          }

          drawTable( json_data );

      } );   

      var jqxhr_standings = $$.getJSON( "/api/eventstandings/$event_code", function(json_data) {
          console.log( "success" );

          console.log( json_data );

          function drawTable( json_data ) {
            $$('#event_rankings').dataTable( {
                "bAutoWidth": true, // Disable the auto width calculation
                "aLengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]], 
                "iDisplayLength": 100,
                "aaData": json_data.rankings,
                "aoColumns": json_data.columns,
                "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                      nRow.setAttribute('id', aData.rank);  //Initialize row id for every row
                      }
                
                } ).rowReordering({ sURL:"/api/eventstandings/$event_code",
                                    fnAlert: function(message) {
                                        alert(message);
                                        } 
                                   });
          }

          drawTable( json_data );

      } );   

      var jqxhr_qualmatches = $$.getJSON( "/api/eventresults/$event_code/qual", function(json_data) {
          console.log( "success" );

          console.log( json_data );

          function drawTable( json_data ) {
            $$('#event_qualmatches').dataTable( {
                "bAutoWidth": false,
                "aLengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]], 
                "iDisplayLength": 100,
                "aaData": json_data.matchresults,
                "aoColumns": json_data.columns,
                "order": [[ 0, "asc" ]]
            } );
          }

          drawTable( json_data );

      } );   

      var jqxhr_quarterfinal_matches = $$.getJSON( "/api/eventresults/$event_code/quarters", function(json_data) {
          console.log( "success" );

          console.log( json_data );

          function drawTable( json_data ) {
            $$('#event_quarterfinal_matches').dataTable( {
                "bAutoWidth": false,
                "iDisplayLength": 8,
                "bPaginate": false,
                "aaData": json_data.matchresults,
                "aoColumns": json_data.columns,
                "order": [[ 0, "asc" ]]
            } );
          }

          drawTable( json_data );

      } );   

      var jqxhr_semifinal_matches = $$.getJSON( "/api/eventresults/$event_code/semis", function(json_data) {
          console.log( "success" );

          console.log( json_data );

          function drawTable( json_data ) {
            $$('#event_semifinal_matches').dataTable( {
                "bAutoWidth": false, 
                "iDisplayLength": 6,
                "bPaginate": false,
                "aaData": json_data.matchresults,
                "aoColumns": json_data.columns,
                "order": [[ 0, "asc" ]]
            } );
          }

          drawTable( json_data );

      } );   

      var jqxhr_final_matches = $$.getJSON( "/api/eventresults/$event_code/finals", function(json_data) {
          console.log( "success" );

          console.log( json_data );

          function drawTable( json_data ) {
            $$('#event_final_matches').dataTable( {
                "bAutoWidth": false, 
                "iDisplayLength": 3,
                "bPaginate": false,
                "aaData": json_data.matchresults,
                "aoColumns": json_data.columns,
                "order": [[ 0, "asc" ]]
            } );
          }

          drawTable( json_data );

      } );   

      var jqxhr_oprs = $$.getJSON( "/api/eventstats/$event_code/oprs", function(json_data) {
          console.log( "success" );

          console.log( json_data );

          function drawTable( json_data ) {
            $$('#event_oprs').dataTable( {
                "bAutoWidth": false,
                "aLengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]], 
                "iDisplayLength": 100,
                "aaData": json_data.stats,
                "aoColumns": json_data.columns,
                "order": [[ 1, "dsc" ]]
            } );
          }

          drawTable( json_data );

      } );   


});
</script>
 

  <div class="article">
  
    <div id="title">
        <h1>$event_info[0][1] ($event_info[1][1])</h1>
    </div>

    <!-- provide a dropdown to select the season to display on the home page -->
    <div class="btn-group">
        <a class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" href="#">
            $season
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu tba-dropdown-menu-limited">
            <li><a href="/event/$event_code">$season</a></li>
        </ul>
    </div>

    <!-- provide a dropdown to select the competition to display on the home page -->
    <div class="btn-group">
        <a class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" href="#">
            $short_comp
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu tba-dropdown-menu-limited">
          $for comp_entry in comp_list:
            <li><a href="/event/$season$comp_entry[1]">$comp_entry[0]</a></li>
        </ul>
    </div>

    <div class="container-fluid">

    <div>
        <ul>
        $for line in event_info[1:]:
            $if line[2] == 'link':
                <li>$line[0]:<a href=$line[1]>$line[1]</a></li>
            $else:
                <li>$line[0]: $line[1]</li>

        </ul>

        <hr>
    </div>

    <div class="tabbable">
      <ul class="nav nav-tabs">
          <li class="active"><a href="#pane_teams"    data-toggle="tab">Teams</a></li>
          <li><a href="#pane_scouting_rank"  data-toggle="tab">Scouting Rankings</a></li>
          <li><a href="#pane_rankings"       data-toggle="tab">Match Rankings</a></li>
          <li><a href="#pane_qualmatches"    data-toggle="tab">Qual Round</a></li>
          <li><a href="#pane_playoffmatches" data-toggle="tab">Playoff Round</a></li>
          <li><a href="#pane_oprs" data-toggle="tab">OPRs</a></li>
      </ul>
 
      <div class="tab-content">
          <div id="pane_scouting_rank" class="tab-pane">
          <br>
          $code:
              csv_file = comp + '.csv'

          <ul>
            <a href="/static/attr/$csv_file" role="button" class="btn btn-primary">Download $csv_file</a>
            <a href="/recalculaterankings/$event_code" role="button" class="btn btn-primary">Recalculate Scouting Rankings</a>
            <br>
            <div id="placeholder_scouting_rank"></div>
          </ul>
          </div>

          <div id="pane_teams" class="tab-pane active">
          <ul>
          <table id="event_teams" class="table table-striped table-bordered dataTable no-footer" width="100%" cellspacing="0" role="grid" aria-describedby="example_info" >
              <thead>
                <tr role="row">
			        <th>Team</th>
			        <th>Team Name</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
	      </table>
          </ul>
          </div>

          <div id="pane_rankings" class="tab-pane">
          <ul>
          <table id="event_rankings" class="table table-striped table-bordered dataTable no-footer" width="100%" cellspacing="0" role="grid" aria-describedby="example_info" >
              <thead>
              </thead>
              <tbody>
              </tbody>
	      </table>
          </ul>
          </div>

          <div id="pane_qualmatches" class="tab-pane">
          <ul>
          <h3>Qualification Maches</h3>
          <br>
          <table id="event_qualmatches" class="table table-striped table-bordered dataTable no-footer" width="100%" cellspacing="0" role="grid" aria-describedby="example_info" >
              <thead> </thead>
              <tbody> </tbody>
	      </table>
          </ul>
          </div>

          <div id="pane_playoffmatches" class="tab-pane">
          <ul>
          <h3>Quarter Final Maches</h3>
          <table id="event_quarterfinal_matches" class="table table-striped table-bordered dataTable no-footer" width="100%" cellspacing="0" role="grid" aria-describedby="example_info" >
              <thead> </thead>
              <tbody> </tbody>
	      </table>
          </ul>
          <br>
          <ul>
          <h3>Semi Final Maches</h3>
          <table id="event_semifinal_matches" class="table table-striped table-bordered dataTable no-footer" width="100%" cellspacing="0" role="grid" aria-describedby="example_info" >
              <thead> </thead>
              <tbody> </tbody>
	      </table>
          </ul>
          <br>
          <ul>
          <h3>Final Maches</h3>
          <table id="event_final_matches" class="table table-striped table-bordered dataTable no-footer" width="100%" cellspacing="0" role="grid" aria-describedby="example_info" >
              <thead> </thead>
              <tbody> </tbody>
	      </table>
          </ul>
          </div>

          <div id="pane_oprs" class="tab-pane">
          <ul>
          <h3>Offensive Power Ratings</h3>
          <br>
          <table id="event_oprs" class="table table-striped table-bordered dataTable no-footer" width="100%" cellspacing="0" role="grid" aria-describedby="example_info" >
              <thead> </thead>
              <tbody> </tbody>
	      </table>
          </ul>
          </div>


      </div>
    </div>
    </div>
  </div>  

