$def with (content)

$# This snippet of python code will retrieve the list of competitions and the list of
$# issue types. These variables will then be used to dynamically create the menu tree
$# based on the dynamic data
$code:
    complist = utils.get_comp_list()
    issuetypes = utils.get_issue_types()

<!DOCTYPE html>

<html lang="en">

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1, minimum-scale=0.5, maximum-scale=2.0" />

<head>

  <!-- iOS and Android home screen icons -->
  <meta name="mobile-web-app-capable" content="yes"> <!-- android -->
  <meta name="apple-mobile-web-app-capable" content="yes"> <!-- iOS -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black"> <!-- iOS -->
  <!-- Android icon -->
  <link rel="icon" sizes="196x196" href="/static/media/images/ANDROID.png">
  <link rel="apple-touch-icon"     href="/static/media/images/ANDROID.png"> <!-- use same img for now... -->
  <!-- end of icons -->

  <!-- mobile viewability -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  

  <!-- makes iOS web app persist -->
  <script>
    var a=document.getElementsByTagName("a");
    for(var i=0;i<a.length;i++)
    {
        a[i].onclick=function()
        {
            window.location=this.getAttribute("href");
            return false
        }
    }
  </script>

	<meta charset="utf-8" />
	
	<link rel="shortcut icon" href="/static/media/images/1073-favicon.ico" type="image/x-icon" />
	<meta name="description" content="The Hollis Brookline FIRST Robotics Competition team...">
	<meta name="keywords" content="FIRST, Hollis Brookline High School, FRC, Robots">
	
	<!--[if lte IE 9]> <link href="css/ie.css" rel="stylesheet" type="text/css" /> <![endif]-->
    <!--[if lte IE 8]><script type="text/javascript" language="javascript" src="excanvas.min.js"></script><![endif]-->

    <link rel="stylesheet" href="/static/media/css/themes/default/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/media/css/nivo-slider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/media/css/slider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/media/css/style2.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/media/css/pure-min.css" type="text/css" media="screen" />
	
    <style type="text/css" title="currentStyle">
	@import "/static/media/css/demo_page.css";
	@import "/static/media/css/demo_table.css";
    </style>

    <script src="/static/media/js/jquery.js"></script>
    <script src="/static/media/js/jquery.flot.js"></script>
    <script src="/static/media/js/jquery.flot.tooltip.js"></script>
    <script type="text/javascript" language="javascript" src="/static/media/js/jquery.dataTables.js"></script>
	<script src="/static/media/js/jquery-ui.js"></script>
	<script type="text/javascript" src="/static/media/js/jquery.nivo.slider.js"></script>

    <script type="text/javascript">
        $$(document).ready(function() {
            $$("body").on("mouseenter mouseleave", "#main-nav > li", function(event){
    	        var ul = $$(this).children("ul");
    	        ul.stop(true, true);
    	        if (event.type === "mouseenter") {
        	        ul.fadeIn("slow").position({
                        of: $$(this),
                        my: "left top",
                        at: "left top",
                        offset: "0 22"
                    });
                }
                else {
        	        ul.fadeOut("slow");
                }
            });    
        });

        var common = {
            showMore : function (link, textBox) {
                $$(textBox).slideToggle('slow', function(){
    	            $$(link).text($$(this).is(':visible') ? 'Show Less' : 'Show More');
    	            $$(link).toggleClass('showLess');
                });
            }
        }    
    </script>

</head>

<body>

<div class="page">

  <div class="header">

  <div class="logo" onclick="window.location = '/home'"></div>

  <ul id="secondary-nav" class="nav">     
      <li><a href="http://www.theforceteam.com">FRC Team 1073 Homepage</a> | </li>
      <li><a href="http://www.thebluealliance.com/">The Blue Alliance</a> | </li>
      <li><a href="/userprofile">User Settings</a> | </li>
      <li><a href="/logout">Logout</a></li>
  </ul>

  <ul id="main-nav" class="nav">
     <li id="home">
       <a href="/home" class="homeLink">Home</a>
     </li>
     <li id="scouting">
       <a href="#" class="topNav">Scouting</a>
       <ul class="menu">
          $for comp in complist:
            <li class="noHover"><a href="/rankchart" class="subMenu">$comp</a>
              <li class="subMenuItem"><a href="/rankchart/$comp">Team Rankings</a></li>
              <li class="subMenuItem"><a href="/attrrank/$comp/Teleop_Goals">Attribute Data</a></li>
            </li>
       </ul>
     </li>
     <li id="issues">
        <a href="#" class="topNav">Issue Tracker</a>
        <ul class="menu">
          $for type in issuetypes:
            <li><a href="/issues/$type">$type Issues</a></li> 
        </ul>
     </li>
     <li id="debriefs">
        <a href="#" class="topNav">Match Debriefs</a>
        <ul class="menu">
          $for comp in complist:
            <li><a href="/debriefs/$comp">$comp</a></li>
        </ul>
     </li>
     <li id="downloads">
        <a href="/static/downloads" class="topNav">Downloads</a>
     </li>
     <li id="admin">
        <a href="#" class="topNav">Admin</a>
        <ul class="menu">
          <li><a href="/users">User Management</a></li>
          <li><a href="/taskgroups">Task Group Admin</a></li>
          <li><a href="/taskgroup_email/all">Task Group Message File Gen</a></li>
          <li><a href="/config">System Configuration</a></li>
          <li><a href="/genui">Tablet UI Generation</a></li>
          <li><a href="/setweights">Set Attribute Weights</a></li>
          <li class="footerOnly"><a href="http://www.theforceteam.com">FRC Team 1073 Homepage</a></li>
          <li class="footerOnly"><a href="http://www.thebluealliance.com/">The Blue Alliance</a></li>
        </ul>
     </li>
  </ul>
  </div>

    $:content

  <div id="footer">
     <div id="footer-nav">
       <ul class="nav">
     <li id="scouting">
       <a href="#" class="topNav">Scouting</a>
       <ul class="menu">
          $for comp in complist:
            <li class="noHover"><a href="/rankchart" class="subMenu">$comp</a>
              <li class="subMenuItem"><a href="/rankchart/$comp">Team Rankings</a></li>
              <li class="subMenuItem"><a href="/attrrank/$comp/Teleop_Goals">Attribute Data</a></li>
            </li>
       </ul>
     </li>
     <li id="issues">
        <a href="#" class="topNav">Issue Tracker</a>
        <ul class="menu">
          $for type in issuetypes:
            <li><a href="/issues/$type">$type Issues</a></li> 
        </ul>
     </li>
     <li id="debriefs">
        <a href="#" class="topNav">Match Debriefs</a>
        <ul class="menu">
          $for comp in complist:
            <li><a href="/debriefs/$comp">$comp</a></li>
        </ul>
     </li>
     <li id="admin">
        <a href="#" class="topNav">Admin</a>
        <ul class="menu">
          <li><a href="/users">User Management</a></li>
          <li><a href="/taskgroups">Task Group Admin</a></li>
          <li><a href="/taskgroup_email/all">Task Group Message File Gen</a></li>
          <li><a href="/config">System Configuration</a></li>
          <li><a href="/genui">Tablet UI Generation</a></li>
          <li><a href="/setweights">Set Attribute Weights</a></li>
          <li class="footerOnly"><a href="http://www.theforceteam.com">FRC Team 1073 Homepage</a></li>
          <li class="footerOnly"><a href="http://www.thebluealliance.com/">The Blue Alliance</a></li>
        </ul>
     </li>
    </ul>

  </div>

</body>
</html>

