$def with (season, short_comp)

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1, minimum-scale=0.5, maximum-scale=2.0" />

$var title: FRC Scouting Data Files

$code:
    district = utils.get_district_string()
    comp = short_comp + season
    season_list = utils.get_season_list()
    comp_list = utils.get_short_comp_list(season)
    event_code = utils.map_comp_to_event_code(comp).lower() 
    myteam = utils.get_myteam()

<style type="text/css">
    .legend table, .legend > div { 
            height: 100px !important; 
            opacity: 1 !important; 
            left: 740px; 
            top: 10px; 
            width: 116px !important; }
    .legend table { border: 1px solid #555; padding: 5px; }

    th.dt-center, td.dt-center { text-align: center; }

</style>

<script type="text/javascript">

    $$(document).ready(function () {
        var pending_table;
        var verified_table;
        var processed_table;

        var jqxhr_events = $$.getJSON( "/api/scoutingdatafiles/$comp", function(json_data) {

            function drawTables( json_data ) {
                
                for (var i=0; i<json_data.verified.length; i++) {
                    var verified_file = json_data.verified[i].replace('.verified','');
                    json_data.pending.splice( json_data.pending.indexOf(verified_file), 1 );
                }

                pending_table = $$('#pending_files').DataTable( {
                    "bAutoWidth": true, // Disable the auto width calculation
                    "aLengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]], 
                    "iDisplayLength": 100,
                    "aaData": json_data.pending,
                    "aoColumns": [
                        { "mData": "name", "mRender": function(data,type,row) { return '<a href="/scoutingfile/static/data/$comp/ScoutingData'+row+'">'+row+'</a>'; } },
                        { "mData": "name", "width": "8%", "className": "dt-center", "mRender": function(data,type,row) { return '<button class="btn-primary">Approve</button>'; } }
                    ]
                } );

                verified_table = $$('#verified_files').DataTable( {
                    "bAutoWidth": true, // Disable the auto width calculation
                    "aLengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]], 
                    "iDisplayLength": 100,
                    "aaData": json_data.verified,
                    "aoColumns": [
                        { "mData": "name", "mRender": function(data,type,row) { return '<a href="/scoutingfile/static/data/$comp/ScoutingData'+row+'">'+row+'</a>'; } }
                    ]
                } );

                processed_table = $$('#processed_files').DataTable( {
                    "bAutoWidth": true, // Disable the auto width calculation
                    "aLengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]], 
                    "iDisplayLength": 100,
                    "aaData": json_data.processed,
                    "aoColumns": [
                        { "mData": "name", "mRender": function(data,type,row) { return '<a href="/scoutingfile/static/data/$comp/ScoutingData'+row+'">'+row+'</a>'; } }
                    ]
                } );
            }

            drawTables( json_data );
        } );   

        // Add event listener for opening and closing details
        $$('#pending_files tbody').on('click', 'button', function () {
            var row = pending_table.row( $$(this).parents('tr') );
            var data = row.data();

            var button = $$(this)[0];
            button.disabled = true;
            button.setAttribute("style", "background-color: #9a9e9d");

            var filepath = './static/data/$comp/ScoutingData' + data;
            var copy_data = {};
            copy_data.source = filepath;
            copy_data.dest = filepath + '.verified';
            $$.ajax({
                url: '/copyfile',
                        type: 'POST',
                        data: JSON.stringify(copy_data),
                        crossDomain: true,
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader( 'Content-Type', 'application/json' );
                        },
                        success: function () {
                        }
            });
        });

    });

</script>

  <div class="article">
  
    <div id="title" align="center">
        <h1>FRC Scouting Data Files</h1>
    </div>

    <!-- provide a dropdown to select the season to display on the events page -->
    <div class="btn-group">
        <a class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" href="#">
            $season
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu tba-dropdown-menu-limited">
          $for season_entry in season_list:
            <li><a href="/scoutingfiles/$season_entry">$season_entry</a></li>
        </ul>
    </div>

    <!-- provide a dropdown to select the competition to display on the events page -->
    <div class="btn-group">
        <a class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" href="#">
            $short_comp
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu tba-dropdown-menu-limited">
          $for comp_entry in comp_list:
            <li><a href="/scoutingfiles/$season/$comp_entry">$comp_entry</a></li>
        </ul>
    </div>

    <div class="container-fluid">

    <div class="tabbable">
      <ul class="nav nav-tabs">
          <li class="active"><a href="#pane_pending_files" data-toggle="tab">Pending Files</a></li>
          <li><a href="#pane_verified_files" data-toggle="tab">Verified Files</a></li>
          <li><a href="#pane_processed_files" data-toggle="tab">Processed Files</a></li>
      </ul>
 
      <div class="tab-content">
          <div id="pane_pending_files" class="tab-pane active">
          <br>
          <ul>
          <table id="pending_files" class="table table-striped table-bordered dataTable no-footer" width="100%" cellspacing="0" role="grid" aria-describedby="example_info" >
              <thead>
                <tr role="row">
			        <th>Scouting File</th>
			        <th></th>
                </tr>
              </thead>
              <tbody>
              </tbody>
	      </table>
          </ul>
          </div>

          <div id="pane_verified_files" class="tab-pane">
          <br>
          <ul>
          <table id="verified_files" class="table table-striped table-bordered dataTable no-footer" width="100%" cellspacing="0" role="grid" aria-describedby="example_info" >
              <thead>
                <tr role="row">
			        <th>Scouting File</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
	      </table>
          </ul>
          </div>

          <div id="pane_processed_files" class="tab-pane">
          <br>
          <ul>
          <table id="processed_files" class="table table-striped table-bordered dataTable no-footer" width="100%" cellspacing="0" role="grid" aria-describedby="example_info" >
              <thead>
                <tr role="row">
			        <th>Scouting File</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
	      </table>
          </ul>
          </div>

      </div>
    </div>
    </div>
  </div>  

