$def with (this_comp,team)

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1, minimum-scale=0.5, maximum-scale=2.0" />

$var title: Score Breakdown Chart

$code:
    complist = utils.get_team_comp_list(this_comp,team)
    team_info = utils.get_team_info_str(team)
    season = utils.map_comp_to_season(this_comp)

<style type="text/css">
       $for comp in complist:
           #placeholder_$comp { width: 100%; height: 300px; }

        .legend table, .legend > div { 
                height: 100px !important; 
                opacity: 1 !important; 
                left: 740px; 
                top: 10px; 
                width: 116px !important; }
        .legend table { border: 1px solid #555; padding: 5px; }

        #flotTip
        {
                padding: 3px 5px;
                background-color: #000;
                z-index: 100;
                color: #fff;
                box-shadow: 0 0 10px #555;
                opacity: .7;
                filter: alpha(opacity=70);
                border: 2px solid #fff;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
        }
</style>

<!--[if lte IE 8]><script type="text/javascript" language="javascript" src="/static/media/js/excanvas.min.js"></script><![endif]-->
<script type="text/javascript" language="javascript" src="/static/media/js/jquery.flot.pie.min.js"></script>
<script src="/static/media/js/jquery.flot.tooltip.js"></script>

<script type="text/javascript">

$$(document).ready(function () {

    var teamName = "$team";

    if (location.search != "")
    {
        var x = location.search.substr(1).split(";")
        for (var i=0; i<x.length; i++)
        {
            var y = x[i].split("=");
    
            if ( y[0] == "team" ) {
        	    teamName = y[1];
            }
        }
    }	

    $for comp in complist:
      var jqxhr_$comp = $$.getJSON( "/api/teamdatasummary/$comp/" + teamName, function(json_data) {
          //console.log( "success" );

          //console.log( json_data );

          function drawSummaryTable( json_data ) {
            $$('#scouting_data_$comp').dataTable( {
                "aaData": json_data.scouting_data_summary,
                "bAutoWidth": true, // Disable the auto width calculation
                "aoColumns": [
                    { "mData": "category" },
                    { "mData": "name" },
                    { "mData": "matches" },
                    { "mData": "cumulative_value" },
                    { "mData": "average_value" },
                    { "mData": "all_values" }
                ]
            } );
          }

          drawSummaryTable( json_data );

      } );   

      var jqxhr_$comp = $$.getJSON( "/api/teamdatafiles/$comp/" + teamName, function(json_data) {
          //console.log( "success" );

          //console.log( json_data );

          function drawDatafileTable( json_data ) {
            $$('#datafiles_$comp').dataTable( {
                "aaData": json_data.scouting_datafiles,
                "bAutoWidth": true, // Disable the auto width calculation
                "aoColumns": [
                    { "mData": "filename", "mRender": function(name) { return '<a href="/ScoutingData/$comp/'+name+'">'+name+'</a>'; } }
                ]
            } );
          }

          drawDatafileTable( json_data );

      } );   

      var jqxhr_$comp = $$.getJSON( "/api/teammediafiles/$comp/" + teamName, function(json_data) {
          console.log( "success" );

          //console.log( json_data );

          function drawMediafileTable( json_data ) {
            $$('#mediafiles_$comp').dataTable( {
                "aaData": json_data.scouting_mediafiles,
                "bAutoWidth": true, // Disable the auto width calculation
                "aoColumns": [
                    { "mData": "filename", "mRender": function(name) { return '<a href="/static/data/$comp/ScoutingPictures/'+name+'">'+name+'</a>'; } }
                ]
            } );
          }

          //drawMediafileTable( json_data );

          function insertThumbnails( json_data ) {
          console.log( "adding thumbnails" );
            $$.each( json_data.thumbnailfiles, function(i, thumbnail) {
                 if ( thumbnail.filename.search("240x240") != -1 )
                 {
                     var full_imagename = thumbnail.filename.substring(8);
                     $$('#thumbnails_$comp').append( 
                             '<div class="col-xs-6 col-md-3">' +
                             '<a href="/static/data/$comp/ScoutingPictures/' + full_imagename + '" class="thumbnail">' +
                             '<img src="/static/data/$comp/ScoutingPictures/Thumbnails/' + thumbnail.filename + '"></a>' +
                             '</div>' );
                 }
            });
          }

          insertThumbnails( json_data );

      } );   

      var jqxhr_$comp = $$.getJSON( "/api/teamnotes/$comp/" + teamName, function(json_data) {
          //console.log( "success" );

          //console.log( json_data );

          function drawNotesTable( json_data ) {
            $$('#notes_$comp').dataTable( {
                "aaData": json_data.scouting_notes,
                "bAutoWidth": true, // Disable the auto width calculation
                "aoColumns": [
                    { "mData": "note" }
                ]
            } );
          }

          drawNotesTable( json_data );

      } );   

      var jqxhr_$comp = $$.getJSON( "/api/scorebreakdown/$comp/" + teamName, function(json_data) {
        //console.log( "success" );
        var data = [];
        var attr_data = json_data;
        var numAttr = json_data.score_breakdown.length;
        for (var i=0;i<numAttr;i++)
        {
            data[i] = [];
            data[i].label = json_data.score_breakdown[i].attr_name;
            data[i].data = Math.abs(json_data.score_breakdown[i].weighted_score);
            if ( json_data.score_breakdown[i].weighted_score < 0 )
            {
                // need to add way to assign shades of red for negative scores
                data[i].color = 'red';
            }
        }

        function getAttrInfo(attrName) {
            var attrInfo = attrName;
            for (var j=0;j<numAttr;j++)
            {
                if ( attrName == json_data.score_breakdown[j].attr_name ) {    
        	        attrInfo = attrName + ": " + json_data.score_breakdown[j].raw_score +
        		               " (Weighted: " + json_data.score_breakdown[j].weighted_score + ")";
                }
            }
            return attrInfo;
        }

        function drawChart( data ) {
            $$.plot($$("#placeholder_$comp"), data, {
                 series: {
                    pie: {
                        show: true
                    }
                 },
                 grid: {
                     hoverable: true
                 },
                 tooltip: true,
                 tooltipOpts: {
                    content: function(label, xval, yval, flotItem) {
                                    var tipString = getAttrInfo(label);
                                    console.log( tipString );
                                    return( tipString );
                    },
                    shifts: {
                         x:20,
                         y:0
                    },
                    defaultTheme: false
                 },
                 legend: {
                    labelBoxBorderColor: "none"
                 }
            });
        }

        /*

        drawChart(data);

        window.onresize = function(event) {
            //console.log( "resize" );
            drawChart(data);
        }

        */

        })
        .fail(function() {
            console.log( "error" );
        })

});
</script>
 

  <div class="article">
  
    <div id="title">
        <h1>Team $team Scouting Data Page</h1>
    </div>

    <div class="container-fluid">

    <div>
        <ul>
        $for line in team_info:
            $if line[2] == 'link':
                <li>$line[0]:<a href=$line[1]>$line[1]</a></li>
            $else:
                <li>$line[0]: $line[1]</li>
        <li><a href="http://www.thebluealliance.com/team/$team/$season">The Blue Alliance $team Team Page</a></li>
        </ul>
        <br>
    </div>

    <div class="tabbable">
      <ul class="nav nav-tabs">
        $for comp in complist:
          $if loop.first:
            <li class="active"><a href="#pane_$comp" data-toggle="tab">$comp</a></li>
          $else:
            <li><a href="#pane_$comp" data-toggle="tab">$comp</a></li>
      </ul>
 
      <div class="tab-content">
        $for comp in complist:
            $if loop.first:
              <div id="pane_$comp" class="tab-pane active">
            $else:
              <div id="pane_$comp" class="tab-pane">

            <h3>$comp</h3>

            <!--

            <h4>Weighted Scoring Breakdown</h4>
            <div id="placeholder_$comp"></div>

            <h4>Pictures and Video Files</h4>

            -->

            <!-- commented out the table of picture files, replacing it with a thumbnail strip

            <ul>
            <table id="mediafiles_$comp" class="table table-striped table-bordered dataTable no-footer" width="100%" cellspacing="0" role="grid" aria-describedby="example_info" >
                <thead>
                    <tr role="row">
                        <th>Fileame</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
	        </table>
            </ul>

            end of commented out table -->

            <!--

            <ul>
                <div class="row">
                     <div id="thumbnails_$comp"></div>
                </div>
            </ul>

            -->

            <br>
            <h4>Scouting Data Summary</h4>
            <ul>
            <table id="scouting_data_$comp" class="table table-striped table-bordered dataTable no-footer" width="100%" cellspacing="0" role="grid" aria-describedby="example_info" >
                <thead>
                    <tr role="row">
                        <th>Category</th>
                        <th>Attribute Name</th>
                        <th>Matches</th>
                        <th>Cumulative Value</th>
                        <th>Average Value</th>
                        <th width=40%>All Values</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
	        </table>
            </ul>

            <!--

            <h4>Pit and Match Data Files</h4>
            <ul>
            <table id="datafiles_$comp" class="table table-striped table-bordered dataTable no-footer" width="100%" cellspacing="0" role="grid" aria-describedby="example_info" >
                <thead>
                    <tr role="row">
                        <th>Fileame</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
	        </table>
            </ul>

            <h4>Scouting Notes</h4>
            <ul>
            <table id="notes_$comp" class="table table-striped table-bordered dataTable no-footer" width="100%" cellspacing="0" role="grid" aria-describedby="example_info" >
                <thead>
                    <tr role="row">
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
	        </table>
            </ul>

            -->

            </div>

      </div>
    </div>
    </div>
  </div>  

